    {% if user.is_authenticated %}
        <form class="comment-form" method="post" action=".">
            {% csrf_token %}
            <fieldset class="">
                <legend class="">Добавить комментарий</legend>
                <textarea required style="max-width: 1400px; max-height: 100px;" name="body" id="cmtbody" cols="40" rows="5" placeholder="Напишите сообщение"></textarea>
            </fieldset>
            <div class="">
                <button class="button button-more" id="acsubmit" type="submit">Отправить</button>
            </div>
        </form>
        {% else %}
        <p>Чтобы оставить комментарий, нужно зарегистрироваться.</p>
    {% endif %}
    
    {% if not comments %}
        <p class="not_comment">Пока нет комментариев</p>
    {% else %}
        {% for comment in comments %}
        <div class="">
            <div class="">
                <img class="" src="{{comment.name.profile.image.url}}" alt="Profile-image">
                <div class="">
                    <div class="">
                       {# <h5 class=""><a class="" href="{% url 'profile-detail-view' comment.name.pk %}">{{comment.name}}</a></h5>#}
                        <small class="">{{comment.date_added}}</small>
                    </div>
                    <p class="">{{comment.body}}</p>
                    <ul class="">
                        <li class="">
                            {#<form action="{% url 'comment-like' %}" method="POST">#}
                                {% csrf_token %}
                                
                                {% if user.is_authenticated %}
                                    {% for key, value in clikes.items %}
                                        {% if key == comment.id %}
                                            {% if value == True %}
                                                <button type="submit" name="comment_id" value="{{comment.id}}" class=""><i class=""></i></button>
                                            {% else %}
                                                <button type="submit" name="comment_id" value="{{comment.id}}" class=""><i class=""></i></button>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <button class=""><i class=""></i></button>
                                {% endif %}
                                 {{comment.total_clikes}}
                            </form>
                        </li>
                        <li class="">
                            &nbsp;&nbsp;&nbsp;
                            <a class="" data-toggle="collapse" href="#multiCollapse{{comment.id}}" role="button" aria-expanded="false" aria-controls="multiCollapse{{comment.id}}">
                                <i class="far fa-comment"></i>
                            </a>
                             {{comment.replies.count}}
                        </li>
                    </ul>
                    <br>
                    <div class="collapse multi-collapse" id="multiCollapse{{comment.id}}">
                    <hr>
                        {% if user.is_authenticated %}
                            <form class="comment-form" method="POST" action=".">
                                {% csrf_token %}
                                <input type="hidden" name="comment_id" value="{{comment.id}}">
                                <fieldset class="">
                                    <legend class="">Ответов :</legend>
                                    <textarea required style="width: 100%;" name="body" id="cmt-body" cols="40" rows="2"></textarea>
                                </fieldset>
                                <div class="">
                                    <button type="submit">Ответить</button>
                                </div>
                            </form>
                        {% endif %}
                        {% for reply in comment.replies.all %}
                        <br>
                            <div class="">
                                <h5 class=""><a class="" href="{% url 'profile-detail-view' reply.name.pk %}">{{reply.name}}</a></h5>
                                <small class="">{{reply.date_added}}</small>
                            </div>
                            <p class="">{{reply.body}}</p>
                            <ul class="">
                                <li class="">
                                    <form class="comment-form" action="{% url 'comment-like' %}" method="POST">
                                        {% csrf_token %}
                                        {% if user.is_authenticated %}
                                            {% for key, value in clikes.items %}
                                                {% if reply.id == key %}
                                                    {% if value == True %}
                                                        <button type="submit" name="comment_id" value="{{reply.id}}" class=""><i class=""></i></button>
                                                    {% else %}
                                                        <button type="submit" name="comment_id" value="{{reply.id}}" class=""><i class=""></i></button>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <button class=""><i class=""></i></button>
                                        {% endif %}
                                            {{reply.total_clikes}}
                                    </form>
                                </li>
                            </ul>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
    {% endif %}
