{% extends "blog/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="py-5">
    
    <div class="container py-5" style="background: #fbf8f4;">
      
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 d-sm-flex justify-content-sm-center">
              
            <div class="col-xxl-7 mb-4 col-md-12 col-sm-12">
                     {# тело поста#}
                     {% for post in posts %} 
                <div class="d-flex flex-column align-items-center align-items-sm-start" style="border-style: dotted;">
       
                    <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="profiles_img\default_profile.png">
                         
                        <div>
                          
                            <p class="fw-bold text-primary mb-0">
                           
                            {#BUG IMAGE исправить, когда профиль напишем               
                {#<a class="mr-2 h4" href="{% url 'profile-detail-view' post.author.pk %}">{{ post.author }}</a>#}


                            </p>
                            <p class="text-muted mb-0">{{ post.date_created|date:"F d, Y-h:i A" }}</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
                        </h4>
                        <p class="card-text">
                            {{ post.content|safe|linebreaks|truncatewords_html:"20" }}

                        </p>
                        
                        <a class="link-primary card-link" href="{% url 'post-detail' post.id %}">[читать полностью]</a>
                        <br><br>
                       
                       

                    
                    </div>
                    
                </div>
               {# END тело поста#}
               {% endfor %} 


               {% if is_paginated %}

               {% if page_obj.has_previous %}
                 <a class="btn btn-outline-info mb-4" href="?page=1">первая</a>
                 <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">предыдущая</a>
               {% endif %}
         
               {% for num in page_obj.paginator.page_range %}
                 {% if page_obj.number == num %}
                   <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
                 {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                 <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
                 {% endif %}
               {% endfor %}
         
               {% if page_obj.has_next %}
                 <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">следующая</a>
                 <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">последняя</a>
               {% endif %}
         
             {% endif %}


            </div>
            
                <!-- SIDEBAR -->
            <div class="col mb-4 col-sm-10 col-md-10">
                <div class="d-flex flex-column align-items-center align-items-sm-start">
                    <div class="d-flex">
                        <div><!--пока не используется можно подписку на рассылку или банер, напишите чего нибудь и посмотрите где это --></div>
                    </div>
                </div>

             
                <div class="card">
                    <div class="card-body" style="border-top-style: dotted;border-top-color: var(--bs-red);">
                        <h5 class="card-title" style="border-style: dashed;">Последние посты.</h5>
                       
                        <div class="content-section" style="border-top: 4px solid red;">
                           
                            <br>
                            <!-- <p class="text-muted">You can put any information here you'd like. -->
                                <ul class="list-group">
                                    {% if posts.0 %}
                                      <a href="{% url 'post-detail' posts.0.pk %}"><li class="list-group-item list-group-item-light">{{ posts.0.title }}</li></a>
                                    {% endif %}
                                    {% if posts.1 %}
                                      <a href="{% url 'post-detail' posts.1.pk %}"><li class="list-group-item list-group-item-light">{{ posts.1.title }}</li></a>
                                    {% endif %}
                                    {% if posts.2 %}
                                      <a href="{% url 'post-detail' posts.2.pk %}"><li class="list-group-item list-group-item-light">{{ posts.2.title }}</li></a>
                                    {% endif %}
                                    {% if posts.3 %}
                                      <a href="{% url 'post-detail' posts.3.pk %}"><li class="list-group-item list-group-item-light">{{ posts.3.title }}</li></a>
                                    {% endif %}
                                    {% if posts.4 %}
                                      <a href="{% url 'post-detail' posts.4.pk %}"><li class="list-group-item list-group-item-light">{{ posts.4.title }}</li></a>
                                    {% endif %}
                                </ul>
                                <br>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body" style="border-top-style: double;border-top-color: var(--bs-red);">
                        <h5 class="card-title" style="border-style: dashed;">Можете следить за:</h5>
                        <h6 class="text-muted card-subtitle mb-2">
                        {#BUG USER исправить фоловинг     
          {% for user in random_users %}
{#<a href="{% url 'profile-detail-view' user.pk %}"><li class="list-group-item list-group-item-light">{{ user.username }}</li></a>#}
          {% endfor %}
                    </h6>
                    </div>
                </div>
                <div class="card"></div>
            </div>
        </div>
    </div>
    
</section>


{% endblock %}
{% block script %}
<script>

  var colors = ['#FB9797', '#FB84BD', '#EA84FB', '#FF6D3F', '#4270E7', 'green', 'blue'];
    $('.add-border').each(function() {
        $(this).css('border-top', "3px solid " + colors[Math.floor(Math.random() * colors.length)]);
    });

</script>
{% endblock %}