{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Блог{% endblock %}

{% block content %}


<header class="header-index">
{% block navigation %}
{% include 'blog/navbar.html' %}

<div class="header__content_2">
    <section class="section">
        <div class="container">
            <div class="about-us">
                <div class="about-us__desc">
                    
                    <p class="about-us__text">Привет, Я Маша! Рада приветствовать тебя в своем магазине.<br/> С удовольствием представляю тебе мои уникальные украшения, созданные с любовью из сухоцветов, камней и бисера.<br/> Погрузись в мир неповторимых аксессуаров, которые подчеркнут твою индивидуальность!</p>
                    <!--
                    <div class="about-us__button">
                        <a href="#!" class="button button-more">Посмотреть блог
                        </a>
                    </div>
                    -->
                    {% if user.is_authenticated %}
                    <div class="about-us__button">
                        <a href="#" class="button button-more">&nbsp;Лента</a>&nbsp;</div>
                        <div class="about-us__button">
                            <a href="#" class="button button-more">{{user}}, Добро пожаловать!</a>&nbsp;</div>
                    {% else %}
                    
                    <div class="about-us__button">
                        <a href="#" class="button button-more">&nbsp;Регистрация</a>&nbsp;</div>
                                
                        <div class="about-us__button">
                        <a href="{% url 'account_login' %}" class="button button-more">Войти</a></div>
                    {% endif %}
                </div>

                <img src="{% static 'img\IMG_0122.JPG' %}" alt="" class="about-us__img">
            </div>
        </div>
    
    </section>
</div>

</header>


<div class="container">
<!--доработать цвет текста и отступы + адаптив скопировать-->
<section class="case-studies">
    <div class="container-right">
        <div class="case-studies_title">
            <h2 class="title-1">Примеры работ</h2>
        </div>
        <div class="case-studies_text text">
            <p>Здесь, собраны украшения, которых уже нет в наличии, но их можно повторить под заказ</p>
        </div>
    

    
        <div class="slider">
            <div class="owl-carousel owl-theme">
                <div class="slider_item slide">
                    <h3 class="slide_title">Кулоны</h3>
                    <a href="./catalog_pod_zakaz.html" class="catalog_pod_zakaz"><img class="slide_img" src="{% static 'img\slider\pendant.jpg' %}" alt="01"></a>
                </div>
                <div class="slider_item slide">
                    <h3 class="slide_title">Серьги</h3>
                    <img class="slide_img" src="{% static 'img\slider\earrings.JPG' %}" alt="02">
                </div>
                <div class="slider_item slide">
                    <h3 class="slide_title">Кольца</h3>
                    <img class="slide_img" src="{% static 'img\slider\rings.JPG' %}" alt="03">
                </div>
                <div class="slider_item slide">
                    <h3 class="slide_title">Браслеты</h3>
                    <img class="slide_img" src="{% static 'img\slider\wristband.JPG' %}" alt="04">
                </div>
            </div>
        </div>
    </div>
    </section>
    <!--END Секция с примерами работ-->

</div>




{% endblock %}

{% endblock %}