{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Отзывы{% endblock %}

{% block content %}


    <section class="section">
        <div class="container">
            <div class="section__header">
                <h2 class="title-1">Отзывы из социальных сетей</h2>
            </div>
            <div class="gallery">
                {% for review in reviews %}
                <div class="section__cards--6-in-row">
                    
                    <article class="card">
                        <a href="./img/reviews/1.jpg" data-fancybox="gallery">
                            <img class="card__img" src="{{ review.image.url }}" alt="{{ review.image.name }}" />
                        </a>
                    </article>
                    
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


{% endblock %}