{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Отзывы{% endblock %}

{% block content %}
<header class="header-catalog">
    {% block navigation %}
    {% include 'catalog/navbar-catalog.html' %}
    {% endblock %}
    </header>

    <section class="section">
        <div class="container">
            <div class="section__header">
                <h2 class="title-1">Отзывы из социальных сетей</h2>
            </div>
            <div class="gallery">
                
                <div class="section__cards--6-in-row">
                    
                    <article class="card">
                        {% for review in reviews %}
                        <a href="{{ review.image.url }}" data-fancybox="gallery">
                            <img class="card__img" src="{{ review.image.url }}" alt="{{ review.image.name }}" />
                        </a>
                        {% endfor %}
                    </article>
                    
                </div>
                
            </div>
        </div>
    </section>


{% endblock %}