.post {
    background-color: #bfe7e534;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-header {
    display: flex;
    align-items: center;
    
}

.post-title {
    font-size: 24px;
    color: #333;
}

.post-like {
    display: flex;
    align-items: center;
}

.post-like i {
    color: #f7aaaa;
    margin-right: 5px;
    
    cursor: pointer;
}

.post-like i:hover {
    color: #ec1d1d;
}

.post-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 15px;
}

.post-content {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
}

.comments-heading {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.comments-list {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comment-item {
    margin: 10px;
}

.comment-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.comment-author {
    font-weight: 700;
}

.comment-date {
    font-size: 12px;
    color: #888;
}

.comment-content {
    font-size: 16px;
    color: #555;
}

.comment-form textarea {
    border: 1px solid #ccc;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comment-form button {
    background-color: skyblue;
    width: 150px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px ;
    font-size: 16px;
    cursor: pointer;
}

.comment-form button:hover {
    background-color: #555;
}

.post-comments {
    align-items: center;
}

.section__cards--2-in-row {
    grid-template-columns: repeat(2, 1fr);
}

.card {
    position: relative;
}

.card--wide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
}

.card__desc {
    display: flex;
    flex-direction: column;
    column-gap: 16px;
}

.card__img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 8px;
    object-fit: cover;
}

.card__img--h100 {
    height: 100%;
}

.card__img--no-margin {
    margin: 0;
}

.card__img--existence {
    margin-bottom: 10px;
}

.card__title {
    color: rgba(17, 68, 85, 1);
    font-size: 16px;
    font-weight: 500;
}

.card__title--existence {
    margin-bottom: 12px;
}

.card__title--big {
    color: rgba(17, 68, 85, 1);
    font-weight: 600;
    font-size: 20px;
}

.card__text {
    color: rgba(17, 68, 85, 0.8);
    font-size: 16px;
    line-height: 2;
}

.card__location {
    position: relative;
    z-index: 9;
    color: rgba(17, 68, 85, 0.7);
    font-size: 13px;
}

.card__location:hover {
    color: rgba(17, 68, 85, 1);
}

.card__link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.card__location--icon {
    padding-bottom: 5px;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: 0 1px;
    /* поиграться с отступом*/

    background-image: url(../img/location_map_18.png);
}



.card__rating {
    display: flex;
    align-items: center;
}

.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__footer--wide {
    margin-top: auto;
}

.card__footer-link {
    position: relative;
    z-index: 1;
    font-size: 12px;
    color: rgba(17, 68, 85, 0.8);

    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.card__footer-link:hover {
    color: #7B61FF;
}