.header-catalog {
    padding: 31px 0 50px;
    height: 80px;
    background-color: rgb(83, 194, 238);
}

.section-catalog {
    margin-top: 10px;
    position: relative;
}

/* Каталог */

.container-catalog {
    padding: 0 32px;
    margin: 0 auto;
    max-width: 1440px;
}

.sidebar {
    overflow-y: auto;
    height: auto;
    display: none;
    transition: transform 0.3s ease-out;
    transform: translateY(-20%);
    
}

.categories {
    width: 250px;
    margin: 0;
    padding: 5px;
    list-style: none;
    display: none;
    border-radius: 4px;
    justify-content: space-between;
    background-color: rgb(83, 194, 238);
    
}

.sidebar.open {
    display: block;
    transform: translateY(0);
}

.sidebar.open .categories {
    display: block;
}

.line_cart {
    border-top: 1px solid white;
}

.categories li {
    padding-right: 30px;
    color: white;
    font-size: 20px;
}

.categories li a {
    color: white;
}

.toggle-btn {
    border: none;
    background-color: rgba(83, 194, 238, 0.81);
    padding: 5px;
    cursor: pointer;
    
    z-index: 999;
    color: white;
    border-radius: 4px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    
}

.toggle-btn:hover {
    transform: scale(1.05);
}

.arrow-icon {
    transition: transform 0.3s ease-out;
    vertical-align: middle;
    padding-left: 5px;
    transition: transform 0.3s ease-out;
}


.toggle-btn.open .arrow-icon {
    transform: rotate(180deg);
}

.nav_cat {
    position: fixed;
    top: 88px;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 30px;
}

.product {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(83, 194, 238);
}

.product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    object-fit: cover;
}

.product h4 {
    color: skyblue;
    margin-bottom: 5px;
}

.product p {
    margin-bottom: 10px;

}

.price_but {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.favorite {
    background-color: skyblue;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.favorite:hover {
    background-color: rgb(30, 177, 226);
    transform: scale(1.02);
    box-shadow: 0 0.4em 1.2em rgba(0, 0, 0, 0.3);
}

.detail_catalog {
    background-color: skyblue;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.detail_catalog_date {
    display: flex;
    justify-content: space-between;
}

.detail_catalog:hover {
    background-color: rgb(30, 177, 226);
    transform: scale(1.02);
    box-shadow: 0 0.4em 1.2em rgba(0, 0, 0, 0.3);
}

.selected {
    color: black;
}

.card__rating {
    display: flex;
    align-items: center;
}

.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.micro_navbar {
    margin-bottom: 20px;
}

.img_detail {
    border-radius: 24px;
}

#cart-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.quantity-label {
    margin-right: 10px;
}

.quantity-input {
    width: 50px;
    padding: 5px;
}

.submit-button {
    background-color: #ff5c5c;
    color: rgb(28, 17, 17);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit-button:hover {
    transform: scale(1.1);
}

.last_child {
    margin-top: 50px;
}


@media (max-width: 1350px) {}
@media (max-width: 1230px) {}
@media (max-width: 1160px) {
    .catalog {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media (max-width: 949px) {
    .catalog {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

@media (max-width: 756px) {
    .product {
        padding: 10px;
    }
}

@media (max-width: 640px) {}