@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "./buttons.css";
@import "./nav-icon.css";
@import "./mobile-nav.css";
@import "./grid.css";
@import "./post.css";


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Shantell Sans', cursive;
    color: rgba(17, 68, 85, 1);
}

.none {
    display: none !important;
}

/*header*/

.only-index {

    height: 800px;
    background-color: skyblue;
    background-image: url(../img/banners/cloud-background-pastel.webp);
    background-size: cover;
    background-position: center center;
    border-radius: 0 0 54px 54px;
}


.header {
    padding: 31px 0 100px;
    height: 770px;

    background-size: cover;
    background-position: center center;
    border-radius: 54px;
}

.header_nav {
    padding: 40px 0 60px;
    height: 30px;

    background-color: lightblue;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center center;
    
}

.header_nav a {
    color: rgba(17, 68, 85, 1);
}

.container {
    max-width: 1440px;
    padding: 0 32px;
    margin: 0 auto;
}

.container--header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


/*nav*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.logo {
    font-size: 25px;
    font-weight: 500;
    text-shadow: 0 0 10px #FFD1DC,
        0 0 20px #FFD1DC,
        0 0 30px #FFD1DC;
    color: rgba(17, 68, 85, 1);
    flex-shrink: 0;
}

/*nav list*/

.nav-list {
    display: flex;
    column-gap: 44px;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}

.nav-list__link {
    opacity: 0.8;
}

.nav-list__link--active {
    opacity: 1;
}

/*header*/
.header__content {
    display: flex;
    flex-direction: column;
    grid-row-gap: 32px;
    align-items: center;
    text-align: center;
}

.header__title {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.3;
    text-shadow: 0 0 10px #FFF0F5,
        0 0 10px #FFF0F5,
        0 0 10px #FFF0F5;
    color: rgba(17, 68, 85, 1);
    /*Цвет текста заголовка*/
}

.header__text {
    font-size: 34px;
    line-height: 1.3;
    text-shadow: 0 0 10px #FFF0F5,
        0 0 10px #FFF0F5,
        0 0 10px #FFF0F5;
    color: rgba(17, 68, 85, 1);
    /*Цвет текста под заголовком*/
}



/*Кнопки*/
.button {
    background: rgba(175, 238, 238, 0.9);
    border-radius: 12px;
    transition: background-color 0.2s ease-in;
    text-shadow: 0 0 10px #FFF0F5,
        0 0 10px #FFF0F5,
        0 0 10px #FFF0F5;
}

.button-color {
    color: rgba(17, 68, 85, 0.8);
}

.button:hover {
    background-color: rgba(255, 240, 245, 0.8);
    transform: scale(1.02);
    box-shadow: 0 0.4em 1.2em rgba(0, 0, 0, 0.3);
}

.button--huge {
    padding: 24px;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    column-gap: 8px;
    align-items: center;
    position: relative;
}

.button--login {
    padding: 14px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    column-gap: 8px;
    align-items: center;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .button--huge {
        padding: 12px;
        font-size: 16px;
    }
}

.button--search {
    width: 60px;
    height: 60px;
    padding: 18px;
}

.button--subscribe {
    width: 70px;
    height: 70px;
    padding: 5px;
}

.button-more {
    display: flex;
    align-items: center;
    column-gap: 4px;
    padding: 10px;
    height: 44px;
    border-radius: 12px;
    font-size: 16px;
}


/*About us*/

.about-us {
    margin: 0 auto;
    max-width: 1144px;
    display: grid;
    column-gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

.about-us__desc {
    display: grid;
    grid-gap: 32px;
    align-content: center;
}

.about-us__title {
    color: rgba(17, 68, 85, 1);
    font-size: 32px;
    font-weight: 600;
}

.about-us__text {
    color: rgba(17, 68, 85, 0.9);
    font-size: 16px;
    line-height: 2;
}

.about-us__img {
    border-radius: 24px;
}

.about-us__button {
    justify-self: flex-start;
}

/*карусель картинок*/
.container-right {
    overflow-x: hidden;
    padding-left: calc((100% - 1750px) / 2 + 15px);
    /*можно поиграться с отступом 145px вместо 15px*/
}

@media (max-width: 1750px) {
    .container-right {
        padding-left: 15px;
        overflow-x: hidden;
    }
}

/*case-studies*/

.case-studies {
    padding: 120px 0;
}

.case-studies_title {
    margin-bottom: 12px;
    max-width: 1070px;
}

.case-studies_text {
    margin-bottom: 100px;
}

.title {
    font-size: 50px;
    font-weight: 700;
}

.text {
    font-size: 28px;
    line-height: 1.57;
}

/*slider*/

/*Slide*/

.slide {
    position: relative;
    padding-left: 80px;
    /*background-color: rgb(233, 166, 166);просто выделил цветом*/
}

.slide_title {
    position: absolute;
    left: 0;
    bottom: 30px;
    font-size: 70px;
    font-weight: 700;
    background: linear-gradient(90deg, rgba(17, 68, 85, 1) 80px, rgba(255, 255, 255, 1) 15%);
    background-clip: text;/*возможно не нужно*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    /*использовать какой-нибудь градиент генератор*/

}

.slide_img {
    border-radius: 20px;
}