@media (max-width: 1350px) {
    .sidebar {
        width: 30%;
    }
}

@media (max-width: 1230px) {
    .nav-list {
        display: none;
    }

    .mobile-nav-btn {
        display: block;
    }

    .nav-list {
        font-size: 15px;
    }

    .sidebar {
        width: 40%;
    }
    
}

@media (max-width: 1139px) {
    .header {
        height: auto;
        min-height: 500px;
    }

    .container--header {
        justify-content: flex-start;
        row-gap: 90px;
    }

    .about-us__title {
        font-size: 26px;
    }

    .about-us__text {
        font-size: 14px;
    }

    .catalog {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .slider {
        width: 1200px;
    }

    .slide_img {
        width: 322.5px;
        /*увеличен в 1.5 раза*/
        height: 315px;
        /*увеличен в 1.5 раза*/
    }

    .slide_title {
        bottom: 32px;
        font-size: 60px;
        background: linear-gradient(90deg, rgba(17, 68, 85, 1) 50px, rgba(255, 255, 255, 1) 50px);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /*использовать какой-нибудь градиент генератор*/
    }

    .slide {
        padding-left: 50px;
    }

    .title {
        font-size: 60px;
    }

    .text {
        font-size: 22px;
    }

    .case_studies {
        padding: 80px 0;
    }

    .case_studies_text {
        margin-bottom: 50px;
    }

    .main {
        grid-row-gap: 60px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .section__header {
        margin-bottom: 34px;
    }

    .title-1 {
        font-size: 26px;
    }

    .about-us__title {
        font-size: 26px;
    }

    .card__text {
        font-size: 14px;
    }

    .card__footer {
        column-gap: 10px;
    }

    .about-us__text {
        font-size: 14px;
    }

    .footer {
        padding: 60px 0px;
    }

    .footer__row {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
    }

    .footer__subscribe {
        grid-column-start: 1;
        grid-column-end: -1;
        max-width: none;
    }

    .subscribe__input {
        width: 100%;
    }
    .slider {
        width: 1200px;
    }

    .slide_img {
        width: 322.5px;
        /*увеличен в 1.5 раза*/
        height: 315px;
        /*увеличен в 1.5 раза*/
    }

    .slide_title {
        bottom: 32px;
        font-size: 60px;
        background: linear-gradient(90deg, rgba(17, 68, 85, 1) 50px, rgba(255, 255, 255, 1) 50px);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /*использовать какой-нибудь градиент генератор*/
    }

    .slide {
        padding-left: 50px;
    }

    .title {
        font-size: 60px;
    }

    .text {
        font-size: 22px;
    }

    .case_studies {
        padding: 80px 0;
    }

    .case_studies_text {
        margin-bottom: 50px;
    }
}

@media (max-width: 949px) {
    .about-us {
        gap: 24px;
        grid-template-columns: 1fr;
    }

    .header-index {
        height: 100vh;
    }

    .catalog {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .about-us__img {
        margin: auto;
        border-radius: 12px;
    }

    .about-us__desc {
        grid-gap: 8px;
    }
    .section__cards--2-in-row {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 640px) {
    .logo {
        font-size: 17px;
    }
    .about-us {
        grid-template-columns: 1fr;
    }
    .about-us__desc {
        gap: 18px;
    }

    .about-us__img {
        margin: auto;
    }

    .product {
        padding: 5px;
    }

    .sidebar {
        width: 300px;
    }

    .sidebar h3 {
        font-size: 12px;
    }

    .sidebar li {
        font-size: 10px;
    }

    .case-studies {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .case-studies_title {
        margin-bottom: 7px;
    }

    .case-studies_text {
        margin-bottom: 31px;
    }

    .title {
        font-size: 32px;
    }

    .text {
        font-size: 16px;
    }

    .slide {
        padding-left: 33px;
    }

    .slider {
        width: 546px;
    }

    .slide_title {
        bottom: 22px;
        font-size: 40px;
        background: linear-gradient(90deg, rgba(17, 68, 85, 1) 33px, rgba(255, 255, 255, 1) 33px);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /*использовать какой-нибудь градиент генератор*/
    }

    .slide_img {
        width: 215px;
        height: 210px;
    }

    .container--header {
        row-gap: 40px;
    }

    .card--wide {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 380px) {
    .logo {
        font-size: 14px;
    }

    .about-us__img {
        height: 200px;
        width: auto;
    }

    .about-us__title {
        font-size: 20px;
    }

    .about-us__text {
        font-size: 14px;
    }

    .header-index {
        height: 100vh;
    }

    .button-more {
        padding: 8px;
        height: 40px;
        border-radius: 8px;
        font-size: 14px;
    }

    .about-us__desc {
        gap: 4px;
    }

    .container--header {
        row-gap: 30px;
    }
}