.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.logo {
    font-size: 25px;
    font-weight: 500;
    text-shadow: 0 0 10px #5bc0c0,
        0 0 20px #5bc0c0,
        0 0 30px #5bc0c0;
    color: rgb(255, 250, 240);
    flex-shrink: 0;
}

.logo:hover {
    text-shadow: 0 0 10px #1f2763, /*#293030*/
        0 0 20px #1f2763,
        0 0 30px #1f2763;
    color: rgb(255, 250, 240);
}

.nav-list {
    display: flex;
    column-gap: 44px;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}

.nav-list__link {
    color: rgb(255, 250, 240);
    flex-shrink: 0;
}

.nav-list__link:hover {
    text-shadow: 0 0 10px #1f2763, /*#293030 или #c7367a*/
        0 0 20px #1f2763,
        0 0 30px #1f2763;
    color: rgb(255, 250, 240);
}

.nav-list__link--active {
    opacity: 1;
}

/*favorites*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(182, 126, 177, 0.5);
}

.modal-content {
    background-color: #ffffff;
    width: 800px;
    height: auto;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}

.product-favorites img {
    width: 100px;
    height: auto;
    
}

.product-favorites h3 {
    font-size: 18px;
}

.product-favorites {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.product-favorites .price-favorites {
    color: #888;
    
}

.product-favorites button {
    background-color: rgb(117, 200, 228);
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

.close {
    color: #fff7f7;
    background-color: #d137e6;/*#65d3d3*/
    padding: 10px;
    position: fixed;
    margin-top: 100px;
    margin-left: 5px;
    border-radius: 4px;
}


@media (max-width: 1230px) {
    .nav-list {
        display: none;
    }

    .mobile-nav-btn {
        display: block;
    }

    .nav-list {
        font-size: 15px;
    }
}

@media (max-width: 1139px) {
    .modal-content {
        width: 600px;
    }
}

@media (max-width: 949px) {
    .modal-content {
        width: 500px;
    }

    .product-favorites h3 {
        font-size: 14px;
    }

    .price-favorites {
        font-size: 14px;
    }

    .product-favorites button {
        font-size: 14px;
    }


}

@media (max-width: 709px) {
    .modal-content {
        width: 300px;
    }

    .product-favorites {
        display: inline-block;
        margin-bottom: 15px;
    }

    .product-favorites img, h3, p {
        margin-bottom: 8px;
    }
}

@media (max-width: 640px) {
    .logo {
        font-size: 17px;
    }
}

@media (max-width:500px) {
    .close {
        margin-top: 70px;
        /*margin-left: 50px;*/
        padding: 3px;
    }
}

@media (max-width: 380px) {
    .logo {
        font-size: 14px;
    }
}