{% extends 'catalog/base.html' %}

{% load static %}

{% block title %}
  {% if product %}{{ product.name }}{% endif %}
{% endblock %}

{% block content_catalog_detail %}

<section class="section_detail">
    <div class="container">
        <div class="micro_navbar">
            <a href="/catalog/catalog-list/">Назад в каталог</a>
            <a href="/">Главная</a>
        </div>
        
        <div class="about-us">
            
            <div class="about-us__desc">
                <h3 class="about-us__title">{{ product.name }}</h3>
                <a href="">В корзину</a>
                <p class="about-us__desc_detail">{{ product.description| safe }}</p>
                <footer class="card__footer">
                    <p>{{ product.price }} р.</p>
                    <div class="card__rating">
                        <img src="{% static 'img/heart.png' %}" alt="heart">
                    </div>
                </footer>
            </div>
            

            <img class="img_detail" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'shop/img/no_image.png' %}{% endif %}">
        </div>
    </div>
</section>
{% endblock %}